
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #fff5da;
    line-height: 1.6;
}


h1 {
    font-family: 'Segoe UI Semibold', Arial, sans-serif;
    color: #e29ccb;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
